
@{
    ViewBag.Title = "Content";
    Layout = ViewBag.Layout;
}

@using PILIPALA.Utils;
@using WaterLibrary.pilipala.Entity;

<div class="Card M bSha bRds">
    <div class="contain bRds">

        @Html.Raw(ViewBag.Post.Cover)

        @if (ViewBag.Post.Title != "")
        {
            <div class="Title">@ViewBag.Post.Title</div>
        }
        @if (ViewBag.Post.Summary != "")
        {
            <div class="Summary">@ViewBag.Post.Summary</div>
        }

        @*状态信息输出*@
        @if (ViewBag.Post.Mode == "scheduled")
        {
            <div class="SchedulTip bSha"><div class="con">计划中的项目。此文章将会于近期更新</div></div>
        }
        @if (ViewBag.Post.Mode == "archived")
        {
            <div class="ArchivTip bSha"><div class="con">此文章已归档。这意味着其内容将不受维护，但仍具有一定的参考价值。</div></div>
        }


        <div class="ReadTimeTip bSha">
            <div class="con"></div>
        </div>

        <div class="Content markdown-body">@Html.Raw(ViewBag.Post.HtmlContent())</div>

        @*上下文章按钮*@
        <div>
            @if (ViewBag.NextID != -1)
            {
                <div class="nxtBtn L bRds cur" onclick="up();showPost(@ViewBag.NextID)">@(ViewBag.NextTitle)</div>
            }
            @if (ViewBag.PrevID != -1)
            {
                <div class="pvsBtn R bRds cur" onclick="up();showPost(@ViewBag.PrevID)">@(ViewBag.PrevTitle)</div>
            }
        </div>
    </div>

    <script>
        @*代码高亮启用*@
        hljs.highlightAll();
        @*在.Tip内输出字数统计*@
        putWordCount();
    </script>

</div>

<div class="CoBox M bSha">
    <span class="text_auth L">由 @ViewBag.Post.User 最后编辑于 @(Convert.ToString(ViewBag.Post.LCT.Year).Substring(2, 2) + "-" + ViewBag.Post.LCT.Month + "-" + ViewBag.Post.LCT.Day)</span>
    <span title="MD5签名 : @ViewBag.Post.MD5()" class="text_mId R">@ViewBag.Post.MD5(7)</span>

    <div class="AtBox bRds-b">
        <div class="Date">创建于@(Convert.ToString(ViewBag.Post.CT.Year) + "-" + ViewBag.Post.CT.Month + "-" + ViewBag.Post.CT.Day)</div>
        <div class="UVCount">@ViewBag.Post.UVCount</div>
        <div class="CommentCount cur">@ViewBag.Post.PropertyContainer["CommentCount"]</div>
        <div class="StarCount cur" onclick="refre_StarCount(@ViewBag.ID)">@ViewBag.Post.StarCount</div>
        <div class="Time">@Formatter.CN_Week(ViewBag.Post.CT)</div>

        @if (ViewBag.Post.ArchiveName != "")
        {
            @*归档不为空时输出*@
            <div class="Archiv">@ViewBag.Post.ArchiveName</div>
        }
        @if (ViewBag.Post.Label != "")
        {
            @*标签不为空时输出*@
            foreach (string el in ViewBag.Post.LabelList())
            {
                <div class="Label">@el</div>
            }
        }
    </div>
</div>

@*CommentLake模块，测试性功能*@
<div>
    @if (ViewBag.CommentList.Count == 0)
    {
        <div class="ShadowBox M">
            <div class="CommentTip bSha">
                <div class="con">评论尚无，快来吃个螃蟹！</div>
            </div>
        </div>
    }
    else
    {
        <div class="CommentList M bSha bRds">
            @foreach (Comment Comment in ViewBag.CommentList)
            {
                <div class="Box bSha" onmouseover="CommentList_Over(this)" onmouseleave="CommentList_Leave(this)">
                    @if (Comment.HEAD == 0)
                    {
                        <div class="Name">@Comment.User</div>
                    }
                    else
                    {
                        @*存在回复*@
                        foreach (Comment temp in ViewBag.CommentList)
                        {
                            if (temp.CommentID == Comment.HEAD)
                            {
                                <div class="Name">
                                    @(Comment.User)(回复)
                                    <span class="ReplyLogo"></span>
                                    <span class="ReplyFloor">@(temp.Floor)F</span>@temp.User
                                </div>
                                break;
                            }
                        }
                    }

                    <div class="Floor cur bSha" data-f="@Comment.Floor" data-id="@Comment.CommentID" onclick="CommentBox.doReply(this)">@Comment.Floor</div>
                    <div class="Email">@Comment.Email</div>
                    <div class="Time">@(Convert.ToString(Comment.Time.Year).Substring(2, 2) + "-" + Comment.Time.Month + "-" + Comment.Time.Day) | @(Comment.Time.Hour + ":" + Comment.Time.Minute)</div>
                    <div class="Content">@Comment.Content</div>
                </div>
            }
        </div>
    }


    <div id="CommentBox" class="CommentBox M bRds bSha">
        <div class="Content">
            <div class="Logo"></div>
            <div class="ReplyLogo" v-show="HEAD"></div>
            <transition name="fade">
                <div class="ReplyFloor cur" v-show="HEAD" v-on:click="closeReply" onmouseover="CommentBox_ReplyBtn_Over()"
                     onmouseleave="CommentBox_ReplyBtn_Leave()">
                    {{FloorText}}
                </div>
            </transition>
            <textarea v-model="Content" placeholder="评论内容(必填)"></textarea>
        </div>
        <div class="Name">
            <div class="Logo"></div>
            <input v-model="Name" placeholder="昵称(必填)" />
        </div>
        <div class="Email">
            <div class="Logo"></div>
            <input v-model="Email" placeholder="邮箱(必填)" />
        </div>
        <div class="WebSite">
            <div class="Logo"></div>
            <input v-model="WebSite" placeholder="网站(可选)" />
        </div>
        <v-app class="Captcha" style="background:rgba(0,0,0,0)">
            <div>
                <v-btn color="primary" block height="34" onclick="Commit()" class="CaptchaLine">提交</v-btn>
            </div>
        </v-app>
    </div>
</div>

<!-- 评论组件 -->
<script>
    var CommentBox = new Vue({
        el: '#CommentBox',
        vuetify: new Vuetify(),
        data: {
            FloorText: '0F',

            HEAD: 0,
            Content: '',
            Name: '',
            Email: '',
            WebSite: ''
        },
        methods: {
            check: function () {
                if (ContentCheck(this.Content) &
                    NameCheck(this.Name) &
                    EmailCheck(this.Email) &
                    WebSiteCheck(this.WebSite)) {
                    //TODO
                    return true;
                } else {
                    //TODO
                    window.alert("请检查填写是否有误");
                    return false;
                }
            },
            doReply: function (el) {
                this.FloorText = el.dataset.f + "F";
                this.HEAD = el.dataset.id;
            },
            closeReply: function () {
                /* HEAD为0时，回复不会显示 */
                this.HEAD = 0;
            }
        }
    })

    /* 鼠标移入移出回复按钮事件 */
    var FloorText_temp;
    function CommentBox_ReplyBtn_Over() {
        FloorText_temp = CommentBox.FloorText;
        CommentBox.FloorText = "取消";
    }
    function CommentBox_ReplyBtn_Leave() {
        CommentBox.FloorText = FloorText_temp;
    }
    function CommentList_Over(el) {
        $(el).children(".Floor").text("回复");
        $(el).children(".Floor").css({
            "height": "22px",
            "width": "32px",

            "font-size": "0.8em",
            "font-weight": "500",
            "font-family": "Source Sans Pro",
            "color": "rgb(255, 255, 255)",
            "line-height": "22px",

            "background": "rgb(0, 180, 255)"
        });
    }
    function CommentList_Leave(el) {
        /* 把属性data-f赋给内容 */
        $(el).children(".Floor").text($(el).children(".Floor").attr("data-f"));
        /* 移除添加的样式 */
        $(el).children(".Floor").removeAttr("style", "");
    }

    /*评论检查*/
    function ContentCheck(value) {
        if (value == "") {
            return false;
        } else {
            if (value.length > 320) {
                return false;
            } else {
                return true;
            }
        }
    };
    function NameCheck(value) {
        if (value == "") {
            return false;
        } else {
            if (value.length > 12) {
                return false;
            } else {
                return true;
            }
        }
    };
    function EmailCheck(value) {
        if (value == "") {
            return false;
        } else {
            const reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (!reg.test(value)) {
                return false;
            } else {
                return true;
            }
        }
    };
    function WebSiteCheck(value) {
        if (value == "") {
            return true;
        } else {
            const reg0 = /^(http|https|ftp)\:\/\/([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}(\/)?$/;
            if (!reg0.test(value)) {
                return false;
            } else {
                return true;
            }
        }
    };
</script>

<!-- 评论Captcha -->
<script>
    function Commit() {
        if (CommentBox.check() == true)
        {
            Captcha(@ViewBag.ID, CommentBox.HEAD, CommentBox.Content, CommentBox.Name, CommentBox.Email, CommentBox.WebSite);
        }
    }
</script>

<script>
    if ($.cookie('isStar' + @ViewBag.ID) == 'true') {/* 如果cookie显示目前文本已点赞 */
        starOpacity100();/* 透明度1 */
    } else {
        starOpacity050();/* 透明度0.5 */
    }
</script>

<!-- MathJax刷新 -->
<script>MathJax.typeset()</script>