
@{
    ViewBag.Title = "List";
    Layout = ViewBag.Layout;
}

@using PILIPALA.system.Util;
@using WaterLibrary.pilipala.Entity;

<!-- 置顶文章输出 -->
@foreach (Post Post in ViewBag.置顶文章)
{
    if (Post.Type == "")
    {
        <div class="Card M bSha bRds">

            <div onclick="up();showPost(@Post.PostID)" class="contain cur">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)
                <div class="Title">@Post.Title</div>
                <div class="Summary">@Post.TrySummary(() => Post.TextContent(80))</div>
            </div>

            <div class="AtBox bRds-b">
                <div class="Date">@Formatter.CN_TimeSummary(Post.CT, x => Convert.ToString(Post.CT.Year) + "-" + Post.CT.Month + "-" + Post.CT.Day)</div>
                <div class="UVCount">@Post.UVCount</div>
                <div class="CommentCount">@Post.PropertyContainer["CommentCount"]</div>
                <div class="StarCount">@Post.StarCount</div>
            </div>

        </div>
    }
    else if (Post.Type == "note")
    {
        <div class="Card M bSha bRds">
            <div class="contain cur bRds" onclick="up();


                 (@Post.PostID)">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)

                <div class="NoteContent bRds markdown-body">
                    @Html.Raw(Post.HtmlContent())
                </div>
            </div>
        </div>
    }
}



<!-- 其他文章输出 -->
@foreach (Post Post in ViewBag.其他文章)
{
    if (Post.Type == "")
    {
        <div class="Card M bSha bRds">

            <div onclick="up();showPost(@Post.PostID)" class="contain cur">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)
                <div class="Title">@Post.Title</div>
                <div class="Summary">@Post.TrySummary(() => Post.TextContent(80))</div>
            </div>

            <div class="AtBox bRds-b">
                <div class="Date">@Formatter.CN_TimeSummary(Post.CT, x => Convert.ToString(Post.CT.Year) + "-" + Post.CT.Month + "-" + Post.CT.Day)</div>
                <div class="UVCount">@Post.UVCount</div>
                <div class="CommentCount">@Post.PropertyContainer["CommentCount"]</div>
                <div class="StarCount">@Post.StarCount</div>
            </div>
        </div>
    }
    else if (Post.Type == "note")
    {
        <div class="Card M bSha bRds">
            <div class="contain cur bRds" onclick="up();showPost(@Post.PostID)">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)
                <div class="NoteContent bRds markdown-body">
                    @Html.Raw(Post.HtmlContent())
                </div>
            </div>
        </div>
    }
}