@{
    ViewBag.Title = "List";
    Layout = ViewBag.Layout;
}

@using WaterLibrary.pilipala.Entity;
@using PILIPALA.Utils;


<!-- 置顶文章输出 -->
@foreach (PostRecord post in ViewBag.置顶文章)
{
    if (post.Type == PostRecord.TypeState.unset)
    {
        <div class="Card M bE-black bRds">

            <div onclick="up();showPost(@post.ID)" class="contain cur">
                <!-- 前置样式 -->
                @Html.Raw(post.Cover)
                <div class="Title">@post.Title</div>
                <div class="Summary">@post.TrySummary(() => post.TextContent(80))</div>
            </div>

            <div class="AtBox bRds-b">
                <div class="Date">@Formatter.CN_TimeSummary(post.CT, x => Convert.ToString(post.CT.Year) + "-" + post.CT.Month + "-" + post.CT.Day)</div>
                <div class="UVCount">@post.UVCount</div>
                <div class="CommentCount">@post.PropertyContainer["CommentCount"]</div>
                <div class="StarCount">@post.StarCount</div>
            </div>

        </div>
    }
    else if (post.Type == PostRecord.TypeState.note)
    {
        <div class="Card M bE-black bRds">
            <div onclick="up();showPost(@post.ID)" class="contain cur bRds">
                <!-- 前置样式 -->
                @Html.Raw(post.Cover)

                <div class="NoteContent bRds markdown-body">
                    @Html.Raw(post.HtmlContent())
                </div>
            </div>
        </div>
    }
}


<!-- 其他文章输出 -->
@foreach (PostRecord post in ViewBag.其他文章)
{
    if (post.Type == PostRecord.TypeState.unset)
    {
        <div class="Card M bE-black bRds">

            <div onclick="up();showPost(@post.ID)" class="contain cur">
                <!-- 前置样式 -->
                @Html.Raw(post.Cover)
                <div class="Title">@post.Title</div>
                <div class="Summary">@post.TrySummary(() => post.TextContent(80))</div>
            </div>
            <div class="AtBox bRds-b">
                <div class="Date">@Formatter.CN_TimeSummary(post.CT, x => Convert.ToString(post.CT.Year) + "-" + post.CT.Month + "-" + post.CT.Day)</div>
                <div class="UVCount">@post.UVCount</div>
                <div class="CommentCount">@post.PropertyContainer["CommentCount"]</div>
                <div class="StarCount">@post.StarCount</div>
            </div>

        </div>
    }
    else if (post.Type == PostRecord.TypeState.note)
    {
        <div class="Card M bE-black bRds">
            <div class="contain cur bRds" onclick="up();showPost(@post.ID)">
                <!-- 前置样式 -->
                @Html.Raw(post.Cover)
                <div class="NoteContent bRds markdown-body">
                    @Html.Raw(post.HtmlContent())
                </div>
            </div>
        </div>
    }
}