
@{
    ViewBag.Title = "List";
    Layout = ViewBag.Layout;
}

<!-- 引用 -->
@using WaterLibrary.stru.pilipala.Post;
@using PILIPALA.user.theme;

<!-- 置顶文章输出 -->
@foreach (Post Post in ViewBag.置顶文章)
{
    if (Post.Type == "")
    {
        <div class="Card L M bSha bRds">

            <div onclick="up();showPost(@Post.ID)" class="contain L cur">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)
                <div class="Title">@Post.Title</div>
                @if (Post.Summary == "")
                {
                    <div class="Summary">@(Post.TextContent().Substring(0,80))</div>
                }
                else
                {
                    <div class="Summary">@Post.Summary</div>
                }
            </div>

            <div class="AtBox L bRds-b">
                @if (Services.CN_TimeSummary(Post.CT) == null)
                {
                    <div class="Date">@(Convert.ToString(Post.CT.Year) + "-" + Post.CT.Month + "-" + Post.CT.Day)</div>
                }
                else
                {
                    <div class="Date">@Services.CN_TimeSummary(Post.CT)</div>
                }
                <div class="UVCount">@Post.UVCount</div>
                <div class="CommentCount">@PILIPALA.Global.CommentLake.GetCommentCount(Post.ID)</div>
                <div class="StarCount">@Post.StarCount</div>
            </div>

        </div>
    }
    else if (Post.Type == "note")
    {
        <div class="Card L M bSha bRds">
            <div class="contain cur L bRds" onclick="up();showPost(@Post.ID)">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)

                <div class="NoteContent bRds markdown-body">
                    @Html.Raw(Post.HtmlContent())
                </div>
            </div>
        </div>
    }
}



<!-- 其他文章输出 -->
@foreach (Post Post in ViewBag.其他文章)
{
    if (Post.Type == "")
    {
        <div class="Card L M bSha bRds">

            <div onclick="up();showPost(@Post.ID)" class="contain L cur">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)
                <div class="Title">@Post.Title</div>
                @if (Post.Summary == "")
                {
                    <div class="Summary">@(Post.TextContent().Substring(0,80))</div>
                }
                else
                {
                    <div class="Summary">@Post.Summary</div>
                }
            </div>

            <div class="AtBox L bRds-b">
                @if (Services.CN_TimeSummary(Post.CT) == null)
                {
                    <div class="Date">@(Convert.ToString(Post.CT.Year) + "-" + Post.CT.Month + "-" + Post.CT.Day)</div>
                }
                else
                {
                    <div class="Date">@Services.CN_TimeSummary(Post.CT)</div>
                }
                <div class="UVCount">@Post.UVCount</div>
                <div class="CommentCount">@PILIPALA.Global.CommentLake.GetCommentCount(Post.ID)</div>
                <div class="StarCount">@Post.StarCount</div>
            </div>
        </div>
    }
    else if (Post.Type == "note")
    {
        <div class="Card L M bSha bRds">
            <div class="contain cur L bRds" onclick="up();showPost(@Post.ID)">
                <!-- 前置样式 -->
                @Html.Raw(Post.Cover)
                <div class="NoteContent bRds markdown-body">
                    @Html.Raw(Post.HtmlContent())
                </div>
            </div>
        </div>
    }
}
