<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @RenderPage("~/Views/head.cshtml")
</head>
<body>
    <div class="fixed">
        @RenderPage("~/Views/Navi/navi_line.cshtml")
        <div class="upBtn bSha bRds b55" style="display: none" onclick="upBtn()"></div>
    </div>
    <div class="contain">
        <div id="NavCol" class="bSha bRds">
            @RenderPage("~/Views/Navi/navi_col.cshtml")
        </div>
        <div id="CardCol" class="R">
            <div class="Col">
                @RenderBody()
            </div>
        </div>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,400">
    </div>
</body>
@RenderPage("~/Views/foot.cshtml")
</html>